h1 {
  color: #800000;
  text-align: center;
}
div {
  width: 100%;
  border: 2px solid green;
}
input {
  width: 20%;
  text-align: center;
}
body {
  font-family: "Amatic SC", cursive;
  text-align: center;
}
form {
  font-family: "Roboto", sans-serif;
  margin: 9%;
  text-align: center;
}

.btn {
  border: 1px solid #333;
  text-decoration: none;
  color: #333;
  padding: 5px;
}

.btn:hover {
  background: #333;
  color: #fff;
}